<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thomasgallinari.timetracker"
    android:versionCode="1"
    android:versionName="1.0.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="17" />

    <application
        android:name="com.thomasgallinari.timetracker.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Styled" >
        <activity android:name=".activity.TaskListActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.HistoryActivity" />
        <activity android:name=".activity.TaskHistoryActivity" />
        <activity android:name=".activity.TaskEditActivity" />
    </application>

</manifest>